/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of reset*/

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


* {
    box-sizing: border-box;
    border:1px solid black;
}
/*.header {
    margin-left: 15%;
    padding: 3%;
    text-align: center;
    margin: 2%;
}*/
/*header {
    width:100%;
    display:inline-block;
    text-align:center;
    margin:auto;
    font-family: 'Roboto Mono', monospace;
    
}*/
.header {
    display:block;
    bottom:10%;
}
.header #img1 {
    margin-left:5%;
    margin-top:5%;
    bottom:10%;
    border-radius:100%;
    width: 20%;
    display:inline-block;
}

.header .this-div p{
    margin-left:30%;
    position:relative:
    bottom:40%;
    width:50%;
    display:inline-block;
}
.header .this-div h1 {
    position:relative;
    margin-left: 30%;
    font-family: "Chelsea Market", cursive;
    font-size: 4rem;
    bottom:90%;
    width:50%;
    display:inline-block;
    margin-bottom:3%;
}


#button-1 {
    font-family: 'Roboto Mono', monospace;
    background-color:#FF764E;
    padding: 10px;
    margin:8%;
    display:inline-block;
    border-radius:10px;
    height:10%;
    width:10%;
    color:white;
}
#button-2 {
    font-family: 'Roboto Mono', monospace;
    background-color:#5ED3EB;
    padding: 10px;
    display:inline-block;
    border-radius:10px;
    margin: 8%;
    color:white;
    height:10%;
    width:10%;
}
#button-3 {
    font-family: 'Roboto Mono', monospace;
    background-color:#FFCD69;
    padding:10px;
    display:inline-block;
    border-radius:10px;
    margin: 8%;
    color:white;
    height:10%;
    width:10%;
}



/*.header h1 {
    position:relative;
    bottom: 150px;
    font-family: 'Chelsea Market', cursive;
    display:inline-block;
}

.header p {
    position:relative; 
    display:inline-block;
}*/

body p{
    font-family: 'Roboto Mono', monospace;
    
 
}
.about p{
    display:block;
    margin-left:5%;
    margin-right:5%;
    text-align:center;
    background-color:#DDB9A3;
    color:white;
    padding:1%;
}

.pictures {
    display: block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:25%;
   
}

.pictures #img-2 {
    width:30%;
}

.pictures #img-3 {
    width: 30%;
}

p {
    font-family: 'Roboto', sans-serif;
}

/*footer{
    height:20%;
}*/
.footer {
    background-color: #F9E7DC;
    text-align:center;
    height:20%;
    font-family: 'Roboto Mono', monospace;
}
#footer{
    display:block;
    widows: 100%;
    height:20%;
}